* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.audi {
    width: 100%;
}

.logo {
    margin-left: 80px;
}

.navbar navbar-expand-lg navbar-light bg-light {
    padding: 40px;
    margin: 10px;
}

.input-container {
    width: 220px;
    position: relative;
    margin-left: 50%;
}

.icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}

.input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}

.input-container:hover>.icon {
    animation: anim 1s linear infinite;
}

.button4 {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button4:disabled {
    pointer-events: none;
}

.tudo {
    background-image: url(https://www.audi.com.br/content/dam/nemo/br/Home/Banners/fevereiro-2024/homeQ8.jpg?imwidth=1920);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.texto2 {
    position: absolute;
    color: white;
    padding: 40px;
}

.button4:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button4:active {
    box-shadow: none;
    transform: translateY(0);
}

.button5 {
    appearance: none;
    background-color: black;
    border: 0.125em solid #584e4e;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}


.button5:disabled {
    pointer-events: none;
}

.button5:hover {
    color: #fff;
    background-color: #494040;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button5:active {
    box-shadow: none;
    transform: translateY(0);
}

.hibrido {
    background-image: url(https://www.audi.com.br/content/dam/nemo/br/models/Q5/Q5-2024/Homepage/Q5-home.jpg?imwidth=1920);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}

.texto5 {
    color: white;
    position: absolute;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.button6 {
    appearance: none;
    background-color: rgb(255, 255, 255);
    border: 0.125em solid #ffffff;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}


.button6:disabled {
    pointer-events: none;
}

footer {
    background-color: #000000;
    color: #fff;
    height: 400px;
    margin-left: 0;
}

footer ul {
    font-family: monospace;
}

.footer2 {
    bottom: 0;
    position: absolute;
    left: 43%;
}

.cor {
    background-color: #000000;
}


.button6:hover {
    color: #000000;
    background-color: #ccbcbc;
    box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button6:active {
    box-shadow: none;
    transform: translateY(0);
}

.botao {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.botao:disabled {
    pointer-events: none;
}

.botao:hover {
    color: #fff;
    background-color: #b4afaf;
    box-shadow: rgba(255, 253, 253, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.botao:active {
    box-shadow: none;
    transform: translateY(0);
}


.texto {
    text-align: center;
    margin-bottom: 100px;
}

.botoes {
    margin-top: 80px;
}

.texto2 h1 {
    padding-bottom: 40px;
}

.botao2 {
    appearance: none;
    background-color: white;
    border: 0.125em solid #ffffff;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    width: 230px;
}

.botao2:hover {
    color: #000000;
    background-color: #b4afaf;
    box-shadow: rgba(255, 253, 253, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.botao2:active {
    box-shadow: none;
    transform: translateY(0);
}

.botao2:disabled {
    pointer-events: none;
}

.etron {
    text-align: center;
    margin-top: 40px;
    background-color: #000000;
    color: #fff;
    padding: 30px;
    height: 300px;
}


.etron h1 {
    margin-top: 60px;
    font-size: 50px;
    font-weight: bold;
}

.etron2 {
    background-image: url(https://www.audi.com.br/content/dam/nemo/br/models/e-tron/sportback/SQ8-sportback-e-tron-home.jpg?imwidth=1920);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}

.texto4 {
    position: absolute;
    padding: 60px;
    align-items: center;
}


@keyframes anim {

    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}